.all {
  background-color: black;
  padding: 1rem;
}

.animals {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 100%;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
}
